
.header {
  height: 60px;
  background-color: white;
  padding: 0 15px;

  &_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 1170px;
    margin: auto;
  }

  &_buttons_wrapper {
    display: flex;
    gap: 10px;
  }
}


// create wrapper and dark bd in start page
.header_promo {
  position: relative;
  min-height: 500px;
  background: url("../assets/bgField.jpeg") center / cover no-repeat;
  max-width: 1170px;
  margin: auto;
  height: calc(100vh - 60px);
  max-height: 650px;

  &_bg {
    max-width: 1170px;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);

    p {
      color: white;
      text-align: center;
      font-size: 16px;
      line-height: 26px;
    }
  }
}


.promo_info_wrapper {
  margin: auto;
  display: flex;
  gap: 25px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 380px;
}


// media queries

@media screen and (min-width: 768px) {
  .header {
    padding: 0 30px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 0 60px;
  }
}

@media screen and (max-width: 768px) {
  .header_promo {
    max-height: none;
  }
}