.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: calc(380px + 100px);
  height: auto;
}


// Styles for  Success block
.success {
  height: calc(380px + 10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 100px;
}